*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    color: white;
    font-family:sans-serif;
    line-height: 1.6;
}

.main-container{
    display: grid;
    grid-template-columns: 350px 1fr;
   gap: 50px;
   max-width: 1200px;
   padding-top: 40px;
   margin: auto;

}

.sidebar{
    background-color: #2a2a2a;
    height: 100vh;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 30px;
    position: sticky;
    top: 20px;
}
 
.main-content{
    background-color: #2a2a2a;
   
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

/* profile section */
.profile{
    text-align: center;
}

.profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color  : #e0e0e0;
}

.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
       color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.9rem;
}

/* contact section */
.contact{
    margin-top: 40px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}
.label{
    font-weight: 600;
    color: #e0e0e0;
    font-size: 0.8rem;

}

.value{

    color: #e0e0e0;
    text-decoration: none;
}

.email, .phone, .location{
   
    margin-bottom: 15px;
}

/* social media section */
.socialmedia{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
    margin-top: auto;
}

.socialmedia img{
    height : 24px;
    width  : 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
    }

.socialmedia img:hover{
    filter: grayscale(0) invert(0);
    }


    /* navigation */
#navigation{
   
     border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
 
}

nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
   
}

.active, nav a:hover {
    color: #ffbf00;
}

/* about me */
.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 15px;
}

.content{
    text-align: justify;
}

#about{
    margin-bottom: 40px;
}

 /* skills */
/* skills */
.gridcontainer {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
}
.item{
    padding: 20px;
    border:10px solid #3a3a3a ;
    border-radius: 10px;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, boxshawdow 0.3s ease ;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

.item img{
    height: 48px;
    width: 48px;
    margin-bottom: 15px;
    filter: invert(75%) sepia(50%) saturate(1000%) brightness(110%) contrast(101%) ;
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}

/* education  */
#education{
    margin-top: 30px;
}

.edtech{
    position: relative;
    margin-top: 20px;
}



.year{
    font-size: 0.9rem;
    color: #e0e0e0;
    margin-bottom: 5px;
   
}

.degree{
     font-weight: 500;
     color: #e0e0e0;
     font-size: 1.2rem;
     margin-bottom: 5px;
}

.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.work{
    color: #a0a0a0;
}

.edfirst{
    margin-bottom: 30px;
    padding-left:25px;
    position: relative;
}
 
.goal{
    height: 15px;
    width: 15px  ;
    border: 3px solid #ffbf00;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left:0px
}

.liner{
    position: absolute;
    width: 1.5px;
  
    top:20px;
    bottom: 0px;
    border: 2px solid #3a3a3a ;
    left: 5px;
}

/* porfolio */
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
      gap: 20px;
      margin-top: 30px;

    
}
.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease , box-shawdow 0.5s ease;
}

.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.card{
    padding: 20px;

}

.card h3{
       color: #e0e0e0;
       margin-bottom: 10px;
}

.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}

.card span{
  background-color: rgba(225,191,0,0.1);
  color: #ffbf00;
  padding: 4pxx 8px;
  border-radius: 5px;
  font-size: 0.75rem;
  margin-right: 5px;
}

@media screen and (max-width: 1200px) {
    .maincontainer{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
        text-align: center;
    }
}